@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
    }


    body {
      display: flex;
      flex-direction: column;
      font-family: "PT Sans", sans-serif;
      font-size: 18px;
      line-height: 21px;
      background-color: #fff;
      color: #242424;
    }
    .button {
      font-family: inherit;
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      text-align: center;
      color: #ffffff;
      background-color: #82B3D3;
      text-decoration: none;
      text-transform: uppercase;
    }
    .page-header {

      color: #ffffff;
      background-color: #ffffff;
    }

    .navigation {
      display: flex;
      width: 1200px;
      margin: 0 auto;
    }

    .navigation-list {
      margin: 30;
      padding: 16;
      width: 360px;
      font-family: "PT Sans" , sans-serif;
      line-height: 24px;
      font-weight: 700;
      color: #000000;
      background-color: #ffffff;
      text-transform: capitalize;
    }
    .navigation-user {
      width: 270px;
      font-size: 16px;
      font-family: PT Sans;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      margin-right: 0 auto;

    }
    .navigation-logo {
      margin-right: auto;
    }
    .page-container {

      margin: 0 auto;
      width: 1200px;
    }


    .welcome{

      text-align: center;
      color: #000000;
      background-color: #ffffff;
      background-image: url("../images/general-images-1.jpg");
      background-size: 100% auto;
      background-repeat: no-repeat;
    }
    .advantages-title {
      font-family: "PT Sans", sans-serif;
      font-size: 30px;
      font-weight: 700;
      line-height: 36px;
      text-transform: uppercase;
      text-align: center;
    }
    .advantages {
      font-family: "PT Sans", sans-serif;
      text-align: center;
      color: #000000;
      background-color: #ffffff;
    }
    .advantages-list {
      display: flex;
      margin: 0;
      flex-wrap: wrap;
    }
    .advantages-item {
      width: 400px;
      margin: 0;

    }
    .advantages-item-pic {
      width: 800px;
    }
    .advantages-item-wrapper {
      display: flex;
      margin: 0;

    }

    .advantages-description {
      font-weight: 700;
      color: #000000;
      line-height: 26px;
      font-size: 22px;
    }
    .advantages-item-name {
      text-transform: uppercase;
    }

    .services {
      display: flex;
      margin: 0;
      font-family: PT Sans, sans-serif;
      text-align: center;
      color: #000000;
      background-color: #ffffff;
      width: 1200px;
      flex-wrap: wrap;
    }
    .services-title {
      font-size: 30px;
      font-weight: 700;
      line-height: 36px;
      text-transform: uppercase;
    }
    .services-item-name {
      text-transform: uppercase;
    }
    .services-item{
      width: 400px;
    }
    .services-description {
      font-size: 18px;
      line-height: 21px;
    }
    .appointment-description {
      font-size: 30px;
      font-family: PT Sans;
      font-weight: 700;
      line-height: 36px;
      text-transform: uppercase;
    }
    .search-hotels {
      text-align: center;
      font-size: 22px;
      line-height: 26px;
    }
    .appointment {
      width: 1200px;
      font-family: PT Sans, sans-serif;
      text-align: center;
      color: #ffffff;
      background-color: #a896e7;
      background-image: url("../images/background-images-1.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .appointment-title {
      color: #ffffff;
      font-size: 30px;
      font-weight: 700;
      line-height: 36px;
      text-transform: uppercase;
    }
    .page-footer {
      width: 1200px;
      color: #000000;
      background-color: #ffffff;
    }
    .page-footer-container {
      display: flex;
      width: 1200px;
      margin: 0 auto;
    }

    .footer-contacts-address-phone {
      color: #000000;
      background-color: #ffffff;
      font-size: 40px;
      line-height: 40px;
      text-transform: uppercase;

    }

    .page-header {
      color: #ffffff;
      background-color: #ffffff;
    }
    .navigation-link {
      font-family: "PT Sans" , sans-serif;
      line-height: 24px;
      font-weight: 700;
      color: #000000;
      background-color: #ffffff;
      text-transform: capitalize;
    }

    .inner-header-hotels {
      font-family: "PT Sans" , sans-serif;
      color: #ffffff;
      background-color: #000000;
      background-image: url("../images/background-images-2.jpg");
      background-size: 100% auto;
      background-repeat: no-repeat;
    }
    .catalog-products {
      font-family: "PT Sans" , sans-serif;
      color: #000000;
      font-size: 18px;
      background-color: #ffffff;
    }
    .catalog-products-title {
      font-family: "PT Sans" , sans-serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
      text-transform: uppercase;
    }
   .hotel-list-title {
    font-family: "PT Sans" , sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }
  .pagination {
  background-color: #ffffff;

}
.pagination-button  {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}


.catalog-appointment {
  font-family: "PT Sans" , sans-serif;
  color: #000000;
  background-color: #ffffff;

}
.catalog-appointment-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.inner-header-hotels{
width: 1200px;


}
.hotel-list {
  display: flex;
  margin: 10px;
}
.pagination {

}
