@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #242424;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
}

.page-container {
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
}

.main-container {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.page-header {
  color: #ffffff;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-logo {
  margin-right: auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 300px;
  max-width: 450px;
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-transform: capitalize;
}

.navigation-link {
  display: block;
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-transform: capitalize;
  padding: 20px 16px;
  text-decoration: none;
}

.navigation-user {
  display: flex;
  padding: 22px 12px;
  width: 270px;
  font-size: 16px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 84px;
}

.welcome {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/general-images-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.advantages {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.advantages-item {
  justify-content: center;
  width: 400px;
  height: 385px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.advantages-item.advantages-item-item {
  background: rgba(131, 179, 211, 0.20);
  justify-content: center;
}

.advantages-item-pic {
  width: 800px;
  margin: 0;
}

.advantages-item.advantages-item-full {
  width: 100%;
  display: flex;
  padding: 0;
}

.advantages-item-wrapper {
  display: flex;
  margin: 0;
  flex-direction: column;
  padding: 103px 85px;
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-description {
  font-weight: 700;
  color: #000000;
  line-height: 26px;
  font-size: 22px;
}

.advantages-item-name {

  text-transform: uppercase;
}

.marketing {
  display: block;
  justify-content: center;
  padding: 64px;
  margin: 0;
}

.services {
  display: flex;
  margin: 0;
  font-family: PT Sans, sans-serif;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  flex-wrap: wrap;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.services-item-name {
  text-transform: uppercase;
  margin: 30px;
}

.services-item {
  width: 400px;
  margin: 0;
}

.services-description {
  font-size: 18px;
  line-height: 21px;
}

.appointment-description {
  font-size: 30px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-hotels {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  padding: 96px 304px;
}

.appointment {
  padding: 96px 104px 258px;
  width: 1200px;
  font-family: PT Sans, sans-serif;
  text-align: center;
  color: #ffffff;
  background-color: #a896e7;
  background-image: url("../images/background-images-1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-width: 400px;
}

.appointment-title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.page-footer {

  display: flex;

  height: 120px;
  padding: 40px 70px 30px 70px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  color: #000000;
  background-color: #ffffff;
}

.footer-contacts-address-phone {
  color: #000000;
  background-color: #ffffff;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;

}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px;

}

.footer-social-item {
  width: 25px;
  height: 15px;
  padding: 10px;
  margin-bottom: 8px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-header {
  color: #ffffff;
  background-color: #ffffff;
}

.inner-header-hotels {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/background-images-2.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 35px 70px;
}

.main-inner {
  padding: 0;
  margin: 0;
}

.inner-header-title {
  padding: 35px;
  font-size: 60px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.breadcrumbs-link {
  margin-right: 30px;
  margin-bottom: 40px;
}
.catalog-products {
  margin: 70px 50px;
  margin-bottom: 0;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 18px;
  background-color: #ffffff;
}

.catalog-filter {
display: flex;
}
.button-search-hotel {
display: flex;
flex-direction: column;
}
.button .button-1 {
width: 191px;
height: 36px;
}
.button .button-2 {
  width: 191px;
  height: 36px;
  background-color: none;
}
.sorting-container {
  display: flex;
  width: 1060px;
  margin-bottom: 40px;
  padding: 16px;
  color: #000000;
  background-color: #ffffff;
  }
  .sorting-container-button {
    width: 48px;
    height: 48px;
    margin-left: 70px;
  }
  .select-control {
    width: 292px;
    height: 49px;
    padding: 14px 20px;
    justify-content: space-between;
    align-items: center;
  }
  .buttons {
    margin-right: 0;
    height: 48px;
  }
.catalog-products-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.hotel-list {
display: flex;
flex-wrap: wrap;
margin-bottom: 80px;
}
.hotel-list-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.hotel-card {
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 20px;
}
.hotel-card-button {
  width: 140px;
  margin-right: 20px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 8px;
}
.hotel-card-button-iwant {
width: 140px;
}
.button-current {
background-color: #7DB54F;
font-family: inherit;
font-size: 16px;
line-height: 20px;
font-weight: 700;
text-align: center;
color: #ffffff;
text-decoration: none;
text-transform: uppercase;
border: 0;
}
.prace {
width: 140px;

}
.hotel {
width: 140px;
}

.raiting {
 background-color: #F2F2F2;
 width: 140px;
 text-align: center;
 text-decoration: none;
 text-transform: uppercase;
 padding: 8px 22px;
 margin-left: auto;
  }
.hotel-card-content {
  display: flex;
  flex-wrap: wrap;
  }
.pagination {
  display: flex;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 60px;
}
.pagination-button {
  display: block;
  width: 60px;
  height: 60px;
  padding: 12px;
  align-content: center;
  justify-content: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
.catalog-appointment {
  display: block;
  justify-content: center;
  padding: 96px 258px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #ffffff;
}
.catalog-appointment-form {
  display: flex;
}
.appointment-form-date {
  width: 452px;
}
.catalog-appointment-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.inner-header-hotels {
  width: 1200px;
}
