@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}
* {
  box-sizing: border-box;
}
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #242424;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
}

.page-container {
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
}

.main-container {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.page-header {
  color: #ffffff;
  background-color: #ffffff;
  height: 64px;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-logo {
display: block;
height: 70px;
margin-left: 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 300px;
  max-width: 450px;
  max-height: 64px;
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  text-transform: capitalize;
}

.navigation-link {
  display: block;
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-transform: capitalize;
  padding: 20px 16px;
  text-decoration: none;
}

.navigation-user {
  display: flex;
  padding: 22px 12px;
  min-width: 270px;
  font-size: 16px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin-left: auto;
}
.search {

}
.heart {

}
.a-iwant {
  background-color: #756157;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  max-height: 36px;
  margin-left: 20px;
  padding: 8px 30px;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/general-images-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 485px;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 69px 25px;
}

.advantages {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.advantages-list {
  display: flex;
  max-width: ;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  margin: 0;
  padding: 103px 80px;
  align-items: center;
}

.advantages-item.advantages-item-item {
  background: rgba(131, 179, 211, 0.20);
  justify-content: center;
}

.advantages-item-pic {
  width: 800px;
  margin: 0;
}

.advantages-item-pic img {
  display: block;
}
.advantages-item.advantages-item-full {
  width: 100%;
  display: flex;
  padding: 0;
  flex-direction: row;
}

.advantages-item-wrapper {
  display: flex;
  width: 400px;
  margin: 0;
  flex-direction: column;
  padding: 103px 85px;
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-description {
  font-weight: 700;
  color: #000000;
  line-height: 26px;
  font-size: 22px;
  padding-bottom: 69px;
}

.advantages-item-name {
  text-transform: uppercase;
}

.services {
  font-family: PT Sans, sans-serif;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  flex-wrap: wrap;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 64px;
}

.services-item-grey {
  background-color: rgba(131, 179, 211, 0.12);
}
.services-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  min-width: 505px;
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 20px;
}

.services-item-name {
  text-transform: uppercase;
  margin: 30px;
}

.services-item {
  width: 400px;
  margin: 0;
  min-height: 385px;
  padding: 33px 55px;
}

.services-description {
  font-size: 18px;
  line-height: 21px;
}

.appointment-description {
  font-size: 30px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.search-hotels {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  padding: 40px;
}
.search-hotels-text {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 54px;
}

.button.button-search-hotels {
  background: #756157;
  width: 376px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin: 0 auto;
  padding: 10px 20px;
}

.appointment {
  padding: 96px 104px 120px;
  font-family: PT Sans, sans-serif;
  text-align: center;
  color: #ffffff;
  background-image: url("../images/background-images-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
}

.appointment-title {
  margin: 0 0 104px 0;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.appointment-form {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.appointment-form-date {
  width: 100%;
}

.page-footer {
  display: flex;
  height: 120px;
  padding: 40px 70px 30px 70px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  color: #000000;
  background-color: #ffffff;
}

.footer-contacts-address-phone {
  color: #000000;
  background-color: #ffffff;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px;
}

.footer-social-item {
  width: 25px;
  height: 15px;
  padding: 10px;
  margin-bottom: 8px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.inner-header-hotels {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/background-images-2.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 35px 70px;
}

.main-inner {
  padding: 0;
  margin: 0;
}

.inner-header-title {
  font-size: 60px;
}

.breadcrumbs {
  display: flex;
  margin-top: 8px;
  margin-bottom: 40px;
  list-style-type: none;
}
.breadcrumbs-item {
padding-right: 10px;
}
.breadcrumbs-link {
  margin-right: 30px;
  margin-bottom: 40px;
}

.catalog-products {
  margin: 70px 50px;
  margin-bottom: 0;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 18px;
  background-color: #ffffff;
}

.catalog-filter {
display: flex;
}
.catalog-filter-title {
margin-bottom: 32px;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px;
}
.control-input {
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}
.catalog-filter-item:not(:last-child) {
  margin-bottom: 18px;
}
.catalog-filter-group {
  border-color: transparent;
}
.button-search-hotel {
display: flex;
flex-direction: column;
margin-left: auto;
}
.buttons {
  display: flex;
  margin-left: auto;
}
.button.button-1 {
width: 191px;
height: 36px;
margin-bottom: 32px;
}

.button.button-2 {
  width: 191px;
  height: 36px;
  background: transparent;
}

.sorting-container {
  display: flex;
  width: 1060px;
  color: #000000;
  background-color: #ffffff;
  }

  .select-control {
    width: 292px;
    height: 49px;
    padding: 14px 20px;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 70px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    border-color: #E5E5E5;
    color: #333333;
  }

  .catalog-products-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
 }

.hotel-list {
 display: flex;
 flex-wrap: wrap;
 margin-bottom: 80px;
 }

.hotel-list-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 20px;
  border: 1px solid #E6E6E6;
}

.hotel-card-button {
  width: 140px;
  margin-right: 20px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 8px;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.hotel-card-button-iwant {
width: 140px;
}
.button-current {
background-color: #7DB54F;
font-family: inherit;
font-size: 16px;
line-height: 20px;
font-weight: 700;
text-align: center;
color: #ffffff;
text-decoration: none;
text-transform: uppercase;
border: 0;
}
.prace {
width: 140px;

}
.hotel {
width: 140px;
}
.raiting {
 background-color: #F2F2F2;
 min-width: 140px;
 font-size: 16px;
 text-align: center;
 text-decoration: none;
 text-transform: uppercase;
 padding: 8px 22px;
 margin-left: auto;
  }
.hotel-card-content {
  display: flex;
  flex-wrap: wrap;
  }
.pagination {
  display: flex;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 60px;
}
.pagination-button {
  display: flex;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  padding: 12px;
align-items: center;
  justify-content: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
.pagination-points {
  background-color: #ffffff;
  color: #000000;
}
.catalog-appointment {
  display: block;
  justify-content: center;
  padding: 96px 258px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #ffffff;
}
.catalog-appointment-form {
  display: flex;
}
.appointment-form-date {
  width: 452px;
}
.catalog-appointment-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
